@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html, body {
    height:100%;
}

body {
    font-family: 'Oswald', sans-serif;
}

nav ul {
}

#website-nav > ul > li {
    text-transform: uppercase;
    color: #282425;
}

#website-nav > ul > li.active > a {
    background-color: transparent;
    border-bottom: 5px solid #ef4036;
}

.navbar-default {
    background-color: #fff;
    transition: background-color 1s ease-out, border-color 1.5s ease-out;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-brand img {
    width: 115px;
    height: auto;
}

#website-nav > ul > li > a {
    padding: 15px 0 0;
    margin: 0 15px 10px;
    text-align: center;
    width: 100px;
    left: 50%;
    margin-left: -50px;
}

main {
    background-color: #fff;
}



#hero {
    height: 100vh;
    background-image: url('../img/dark_hero-image_job-site.jpg');
    background-size: cover;
    background-position: center top;
/*    color: #282425;*/
    color: #fff;
    text-align: center;
}

#hero-copy {
    position: absolute;
    width: 100vw;
    top:30vh;
}

#hero h1 {
    width: 100%;
    font-size: 3.5em;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
    padding: 0;
    margin: 0 0 0.25em;
    border: none;
}

#hero h2 {
    width: 100%;
    font-size: 3em;
    margin-top: 0;
    margin: 0 0 1.5em;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
}

.cta-row.services {
    margin-top: 2.5em;
}

.cta-row.contact {
    margin-top: 1em;
}

.cta-row.services a {
/*    border:2px solid #333;*/
/*    color: #333;*/
    background-color: #ef4036;
}

.cta-row a, #arrange-meeting-cta {
    padding: 10px 70px;
/*    border:2px solid #fff;*/
    text-align: center;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-decoration: none;
    background-color: #ef4036;
}

#arrange-meeting-cta {
    width: 300px;
    padding: 10px 50px;
    left: 50%;
    position: absolute;
    margin-left: -150px;
}

.container-fluid {
    height: 100%;
/*        height: 100vh;*/
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

.white.overlay {
    background-color: #fff;
    opacity: 0.65;
}

.pattern.overlay {
    background-image: url('../img/old_mathematics_@2X.png');
    background-size: 240px;
    opacity: 0.2;
}

#about-us {
    height: 100vh;
    background-image: url('../img/about-us-img.jpg');
    background-position: left bottom;
    background-size: cover;
}

.images-container {
}

.images-container .row {
    height: 100%;
}
    
.services-images {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition:opacity 1s ease-out 1s;
    background-size: cover;
    background-position: center center;
}

.services-images.active {
    z-index: 1;
    opacity: 1;
    transition-delay:0s; 
}

.img1 {
    background-image:url('../img/services-img7.jpg');
}

.img2 {
    background-image:url('../img/services-img5.jpg');
}

.img3 {
    background-image:url('../img/services-img1.jpg');
}

.img4 {
    background-image:url('../img/services-img2.jpg');
}

.img5 {
    background-image:url('../img/services-img6.jpg');
}

.img6 {
    background-image:url('../img/services-img3.jpg');
}

.img7 {
    background-image:url('../img/services-img4.jpg');
}

#services-content { 
    background-color: rgba(255,255,255,0.6);
}


.screen-sizes {
    margin-top: 50px;
    font-size: 20px;
}

h1 {
    padding-bottom: 5px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 30px;
}

.underline:after {
    content: '';
    position: absolute;
    background-color: #ef4036;
    width: 120px;
    height: 8px;
    left: 50%;
    margin: -30px 0 0 -60px;
}

.title-container {
    width: 200px;
}

article.about-us {
    text-align: center;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

#services ul {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

#services-list {
    margin: 0;
    padding: 20px 0 20px 40px;
}
#services {
    height: 100%;
}

main {
height: 100%;
}

.form-container {
    height: 560px;
}

#JotFormIFrame-70863977420868 {
    height: 100% !important;
    position: absolute;
    left:50%;
    margin-left:-156px;
}

#arrange-meeting-overlay {
    position: absolute;
    width: 312px;
    left: 50%;
    margin-left: -156px;
    height: 100%;
    background-color: #fff;
    text-align: center;
}

#arrange-meeting-overlay.clicked {
    z-index: -1;
}

#arrange-meeting-cta {
    border: none;
    outline: none;
}

#arrange-meeting-overlay p {
    margin: 10px 5%;
    font-family: 'Open Sans', sans-serif
}

.contact-container {
    height: 80px;
}

.contact-container ul {
    position: absolute;
    left:50%;
    margin-left: -127px;
    list-style: none;
    padding: 0;
}

.contact-container li span {
    font-weight: bold;
    display: block;
    width: 50px;
    float: left;
    text-align: right;
    padding-right: 10px;
}

.cta-row a:hover, button:hover {
    background-color: #fff !important;
    color: #ef4036 !important;
    border: 2px solid #ef4036 !important;
    box-sizing: border-box !important;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
    #hero-copy {
        top:40vh;
    }
    
    h1 {
    }
    
    article.about-us {
        font-size: 1.25em;
    }
    
    #services ul {
        font-size: 1.25em;
    }
    
    #services {
        background-image: url('../img/services-img.jpg');
        background-position: left bottom;
        background-size: cover;
    }
    
    .navbar-nav {
        float: none;
        position: absolute;
        left:50%;
        margin-left: -170px;
    }
    
    #website-nav > ul > li > a {
        padding: 15px 0 0;
        margin: 0 15px 10px;
        width: auto;
        left: auto;
        margin-left: auto;
    }
    
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
    
    .navbar-default.bg {
        background-color: #fff;
        border-color: #e7e7e7;
    }

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

