@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    font-family: 'Oswald', sans-serif;
}

nav ul {
}

#website-nav > ul > li {
    text-transform: uppercase;
    color: #282425;
}

#website-nav > ul > li.active > a {
    background-color: transparent;
    border-bottom: 5px solid #ef4036;
}

.navbar-default {
    background-color: #fff;
    transition: background-color 1s ease-out, border-color 1.5s ease-out;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-brand img {
    width: 115px;
    height: auto;
}

#website-nav > ul > li > a {
    padding: 15px 0 0;
    margin: 0 15px 10px;
    text-align: center;
    width: 100px;
    left: 50%;
    margin-left: -50px;
}

main {
    background-color: #fff;
}



#hero {
    height: 100vh;
    background-image: url('/img/dark_hero-image_job-site.jpg');
    background-size: cover;
    background-position: center top;
/*    color: #282425;*/
    color: #fff;
    text-align: center;
}

#hero-copy {
    position: absolute;
    width: 100vw;
    top:30vh;
}

#hero h1 {
    width: 100%;
    font-size: 3.5em;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
    padding: 0;
    margin: 0 0 0.25em;
    border: none;
}

#hero h2 {
    width: 100%;
    font-size: 2.5em;
    margin-top: 0;
    margin: 0 0 1.5em;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
}

.cta-row.services {
    margin-top: 2.5em;
}

.cta-row.services a {
/*    border:2px solid #333;*/
/*    color: #333;*/
    background-color: #ef4036;
}

.cta-row a {
    padding: 10px 70px;
/*    border:2px solid #fff;*/
    text-align: center;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-decoration: none;
    background-color: #ef4036;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

.white.overlay {
    background-color: #fff;
    opacity: 0.65;
}

.pattern.overlay {
    background-image: url('/img/old_mathematics_@2X.png');
    background-size: 240px;
    opacity: 0.2;
}

#about-us {
    height: 100vh;
    background-image: url('/img/about-us-img.jpg');
    background-position: left bottom;
    background-size: cover;
}

#services {
    height: 100vh;
    background-image: url('/img/services-img.jpg');
    background-position: left bottom;
    background-size: cover;
}

h1 {
    padding-top: 5vh;
    padding-bottom: 5px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 30px;
}

.underline:after {
    content: '';
    position: absolute;
    background-color: #ef4036;
    width: 120px;
    height: 8px;
    left: 50%;
    margin: -30px 0 0 -60px;
}

.title-container {
    width: 200px;
}

article.about-us {
    text-align: center;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

#services ul {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
    #hero-copy {
        top:40vh;
    }
    
    h1 {
        padding-top: 15vh;
    }
    
    article.about-us {
        font-size: 1.25em;
    }
    
    #services ul {
        font-size: 1.25em;
    }
    
    .navbar-nav {
        float: none;
        position: absolute;
        left:50%;
        margin-left: -170px;
    }
    
    #website-nav > ul > li > a {
        padding: 15px 0 0;
        margin: 0 15px 10px;
        width: auto;
        left: auto;
        margin-left: auto;
    }
    
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
    
    .navbar-default.bg {
        background-color: #fff;
        border-color: #e7e7e7;
    }

}


